.page_diario{
    padding: 10px 20px;
    .top{
        display: flex;
        gap: 20px;
        h1{
            flex-grow: 1;
        }
        button{
            padding: 6px 12px;
            border-radius: 20px;
            font-size: 24px;
            cursor: pointer;
            border: 1px black solid;
            &:active{
                border-style: outset;
            }
        }
    }
}